﻿@model SearchCafe.Models.FeedbackViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавить Отзыв</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="InstitutionId" value="@Model.InstitutionId" class="form-control" />
                <input type="hidden" asp-for="UserId" value="@Model.UserId" class="form-control" />
            </div>
            <div class="PictureElement">
                <label class="control-label">Загрузите изображение</label>
                <input class="form-control" type="file" name="pictureFiles" />
            </div>
            <div class="form-group">
                <label class="control-label">Поставте оценку</label>
                <select asp-for="@Model.Institution.Raiting" class="form-control" asp-items="ViewBag.Raiting"></select>
            </div>
            <p></p>
            <div class="form-group">
                <input asp-action="Create" asp-controller="Feedbacks" type="submit" value="Отправить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
