﻿@using Microsoft.AspNetCore.Identity
@using SearchCafe.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                
                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage"> <button class="btn btn btn-success" type="button"> Привет @UserManager.GetUserName(User)! </button></a>
                </li>
            <li>
                <button type="submit" class="btn btn-success navbar-btn navbar-link"> Выход </button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Register"> <button class="btn btn btn-success" type="button"> Регистрация </button></a> </li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login"><button class="btn btn btn-success" type="button"> Авторизация </button></a></li>
    </ul>
}
