﻿@model SearchCafe.Models.Institution

@{
    ViewData["Title"] = "Добавление заведения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавить заведение</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название заведения</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discription" class="control-label">Описание</label>
                <input asp-for="Discription" class="form-control" />
                <span asp-validation-for="Discription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Raiting" class="form-control" asp-items="ViewBag.Raiting"></select>
            </div>
            <div class="PictureElement">
                <label class="control-label">Загрузите изображение</label>
                <input class="form-control"  type="file" name="pictureFiles" />
                @*<input type="button" class="saveAct btn btn-default" value="+" />
                <input type="button" class="deleteAct btn btn-danger" value="X" />*@
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
   
       

       
    </script>

}
