﻿@model SearchCafe.Models.Institution

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject UserManager<ApplicationUser> UserManager


<h2>Детальная информация</h2>

<d>

    <hr />
    <dl class="dl-horizontal">

        <dt>
            Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Описание
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Discription)
        </dd>
        <dt>
            Рейтинг
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Raiting)
        </dd>
        <dt>
            Изображения
        </dt>
        @foreach (var i in Model.Images)
        {
            <dd>
                @{
                    var path = "/images/" + i.Name;
                    <p></p>
                }
                <img width="200" height="200" src="@path" />
            </dd>
        }

    </dl>
    <h3>
        Озывы
    </h3>
    <ul>
        @{
            bool Check = true;
        }
        @foreach (var i in Model.Feedbacks)
        {
            <li>
                @i.Text
                @i.DateOfCreate
            </li>

            @if (UserManager.GetUserAsync(this.User).Result.Id == i.UserId)
            {
                Check = false;
            }
        }
    </ul>
    @if (Check)
    {
        {
            Html.RenderPartial("_CreateFeelBack", new FeedbackViewModel()
            {
                InstitutionId = Model.Id,
                UserId = Model.UserId
            });
        }

    }

    <div id="half"></div>

    <div>

        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Назад к списку</a>
    </div>

    <script>
        $('#half').raty({
            start: 3.3,
            showHalf: true
        });
    </script>
