﻿@model IEnumerable<SearchCafe.Models.Institution>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject SignInManager<ApplicationUser> SignInManager

<h2>Выберите интересное место</h2>

@if (SignInManager.IsSignedIn(User))
{

    <p>
        <a asp-action="Create">Добавить новое заведение</a>
    </p>
}
    <table class="table" id="myTable" data-page-length="20">
        <thead>
            <tr>
                <th>
                    Назавние
                </th>
                <th>
                   Описание
                </th>
                <th>
                    Рэйтинг
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Raiting)
                    </td>

                    <td>
                        @foreach (var i in item.Images)
                        {
                           
                                var path = "/images/" + i.Name;
                                <p></p>
                                <a asp-action="Details" asp-route-id="@item.Id">
                                    <img width="200" height="200" src="@path" />
                                </a>
                        }
</td>
                </tr>
            }
        </tbody>
    </table>

    @section Scripts{
        <script>
            $(document).ready(function () {
                $('#myTable').DataTable();
            });
        </script>
    }
